<launch>
  <arg name="video_device" default="/dev/v4l/by-id/usb-Arducam_Arducam_B0495__USB3_2.3MP__Arducam_202500915_0001-video-index0" />
  <arg name="image_width" default="1920" />
  <arg name="image_height" default="1200" />
  <arg name="framerate" default="15" />
  <arg name="pixel_format" default="yuyv" />
  <arg name="camera_name" default="arducam_imx219" />
  <arg name="camera_frame_id" default="arducam_imx219" />
  <arg name="camera_info_url" default="file://$(find mobility_camera_bringup)/config/arducam_camera_info.yaml" />
  <arg name="respawn" default="true" />
  <arg name="respawn_delay" default="2.0" />
  <arg name="capture_interval" default="0.5" />
  <arg name="save_root" default="$(find mobility_camera_bringup)/captured_images" />
  <arg name="auto_exposure" default="1" />
  <arg name="exposure_time_absolute" default="80" />
  <arg name="exposure_dynamic_framerate" default="0" />
  <arg name="gain" default="" />

  <node name="arducam_camera_config"
        pkg="mobility_camera_bringup"
        type="arducam_camera_config.py"
        output="screen">
    <param name="video_device" value="$(arg video_device)" />
    <param name="auto_exposure" value="$(arg auto_exposure)" />
    <param name="exposure_time_absolute" value="$(arg exposure_time_absolute)" />
    <param name="exposure_dynamic_framerate" value="$(arg exposure_dynamic_framerate)" />
    <param name="gain" value="$(arg gain)" />
  </node>

  <include file="$(find mobility_camera_bringup)/launch/arducam_imx219.launch">
    <arg name="video_device" value="$(arg video_device)" />
    <arg name="image_width" value="$(arg image_width)" />
    <arg name="image_height" value="$(arg image_height)" />
    <arg name="framerate" value="$(arg framerate)" />
    <arg name="pixel_format" value="$(arg pixel_format)" />
    <arg name="camera_name" value="$(arg camera_name)" />
    <arg name="camera_frame_id" value="$(arg camera_frame_id)" />
    <arg name="camera_info_url" value="$(arg camera_info_url)" />
    <arg name="respawn" value="$(arg respawn)" />
    <arg name="respawn_delay" value="$(arg respawn_delay)" />
  </include>

  <node name="arducam_capture_controller"
        pkg="mobility_camera_bringup"
        type="arducam_capture_controller.py"
        output="screen">
    <param name="camera_name" value="$(arg camera_name)" />
    <param name="image_topic" value="/$(arg camera_name)/image_raw" />
    <param name="capture_interval" value="$(arg capture_interval)" />
    <param name="save_root" value="$(arg save_root)" />
  </node>
</launch>
